---
---

:root {
    --formula-font-size: {{ site.formula-font-size }}
}

mjx-container {
    font-size: var(--formula-font-size, 121%) !important;
}

.project-tagline-override-opacity {
    opacity: 1 !important;
}
