---
---

:root {
    --formula-font-size: {{ site.user-settings.formula-font-size }};
    --p-text-align: {{ site.user-settings }};
    --p-word-break: {{ site.user-settings }};
}

p {
    word-break: var(--p-word-break, break-word) !important;
    text-align: var(--p-text-align, justify) !important;
}

mjx-container {
    font-size: var(--formula-font-size, 121%) !important;
}

.project-tagline-override-opacity {
    opacity: 1 !important;
}
